@import '~antd/dist/antd.less';
.app-container{
    height: 100vh;
    background-color: #EAEEEF;
}
.app-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    right: 8px;
    bottom: 8px;
    p{
        user-select: none;
        color: #BABCBF;
        margin: 0;
    }
}
.to-left-8{
    margin-left: 8px;
}